
body{
    font-family: Raleway, sans-serif;
    font-size: 1em;
    color: #666;
    background-color: #F6F8FA;
}
    a{
        text-decoration: none;
        color: #333333;
        padding: 6px 12px;

    }
    a:hover{
        border-bottom: 2px solid #777;
    }

#caja, #caja2, #caja3{
    width: 800px;
    margin: auto;
    display: flex;
}
    #caja article{
        width: 120px;
        border: 1px solid #ccc;
        margin: 10px;
    }

    .producto{
        width: 120px;
        border: 1px solid #ccc;
        margin: 10px;
    }
